<!doctype html>
<html lang="en" th:fragment="parent(content,title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:replace="${title}">Base Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

</head>
<body>
    <!--  commen hadder-->
    <ul class="p-4">
        <li>
            <a data-th-href="@{'/home'}">Home</a>
        </li>
        <li>
            <a data-th-href="@{'/services'}">Services</a>
        </li>
        <li>
            <a data-th-href="@{'/about'}">about</a>
        </li>
    </ul>

    <!-- main content-->
    <div class="p-4">
        <section data-th-replace="${content}"></section>
    </div>

    <!--  bite flow content-->

    <!-- footer  -->
    <footer class="p-4">
        Footer:Learn Code with Durgesh.
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>
</body>
</html>